*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff;
    font-family: "Microsoft YaHei",sans-serif;
    font-size: 14px;
    color: #333;
}

input, button, select, textarea {
     outline:none; 
     border:none;  
} 
i,em{
    font-style: normal;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
a:hover{
    text-decoration: none;
    color: #333;
}

.flex{
      display: flex;
      flex-wrap: nowrap;
       
}
.flex-sb{
      display: flex;
      flex-wrap: nowrap;
        justify-content:space-between;
}
.flex-sa{
      display: flex;
      flex-wrap: nowrap;
        justify-content: space-around;
}
// @font-face {
//     /* font-properties */
//     font-family: 'SIMLI';
//     src:url('../font/SIMLI.ttf'),
//     url('../font/SIMLI.ttf'),
//     url('../font/SIMLI.ttf'); /* IE9 */
// }