* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

input,
button,
textarea {
  outline: none;
  border: none;
}

i,
u,
ins,
b,
strong,
s {
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input::-webkit-input-placeholder {
  color: #bdbdbd;
}

body,
html {
  width: 100vw;
}

button {
  border: none;
}

body,
html {
  /* border: 1px solid  pink; */
  background: #f5f8fa;
}

html,
body,
body button {
  font-size: 16px;
  font-family: "微软雅黑, Helvetica";
}

/* @font-face {
    font-family: "simhei";
    src: url("../fonts/simhei.ttf");
  }
  @font-face {
    font-family: "msyh";
    src: url("../fonts/msyh.ttc");
  } */

input,
button,
select,
textarea {
  outline: none;
  border: none;
}

ul,
li,
ol {
  list-style: none;
}

a,
input,
button {
  text-decoration: none;
  outline: none;
}

img {
  display: block;
}


/* 头部拓展 */
.head_empty {
  height: 100px;
}
