<style lang='less'>
 .footer{
 height: 20vw;
     position:fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
}
</style>
<template>
   <div>
      <reminder :visible=true></reminder>
       <div class="footer">
      <tab></tab>
    </div>
   </div>
</template>
<script>
import tab from "@/components/tab";
import reminder from "@/components/reminder";
export default {
    components:{
    tab,
    reminder
  },
   title: '',
   data() {
       return {}
   },
  mounted() {},
  methods: {},
}
</script>
