<style lang="less">
.pages_login {
  width: 100%;
  height: 100vh;
  // background: rgba(1, 1, 1, 0.2);
  position: fixed;
  top: 30vw;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  .main {
    border-radius: 0.5rem;
    background: #fff;
    height: 95vw;
    max-height: 36rem;
    margin: 0 10vw;
    .login {
      width: 100%;
      height: 100vw;
      background: url("../assets/bg-phone-bind.png") no-repeat center center;
      background-size: 100%;
      .logo {
        width: 25vw;
        height: 25vw;
        margin: 0 auto;
        img {
          margin-top: 2vw;
          border-radius: 50%;
          width: 25vw;
          height: 25vw;
        }
      }
      .formcenter {
        margin: 8vw 0 0;
        padding: 0 5vw;
        p {
          font-size: 3.5vw;
        }
        .section_title {
          height: 10vw;
          line-height: 10vw;
          margin: 5vw 0;
          padding: 0 4vw;
          background: #f4f5f6;
          border-radius: 1vw;
          color: #666666;

          p,
          span {
            font-size: 3.5vw;
          }
          input {
            margin-left: 1vw;
            width: 60%;
            background: none;
            color: #222;
            border: none;
            font-size: 4vw;
          }
        }
      }
      .footer {
        margin: 0 auto;
        padding: 0 9vw;
        button {
          width: 100%;
          height: 10vw;
          line-height: 10vw;
          margin: 0 auto;
          background: #d95125;
          color: #fff;
          text-align: center;
          border-radius: 1vw;
          font-size: 4vw;
        }
      }
    }
  }
}
</style>
<template>
  <div class="pages_login"
       v-if="Shrapnel">
    <div class="main">
      <div class="login">
        <div class="logo">
          <img :src="avatarUrl"
               v-if="avatarUrl" />
          <img v-else
               src="../assets/user_img.png" />
        </div>

        <div class="formcenter ">
          <p>欢迎您加入乐客平台，为了获取更优质的服务，请您先绑定手机号</p>
          <div class="section_title flex">
            <span>+86</span>
            <input type="text"
                   v-model.trim="phone"
                   @blur="phoneCheck"
                   ref="inputPhone"
                   maxlength="11" />
          </div>
          <div class="section_title flex">
            <input type="text"
                   v-model.trim="code"
                   ref="inputCodes"
                   maxlength="6" />
            <p @click="sendtap">{{ getmsg }}</p>
          </div>
        </div>
        <div class="footer">
          <button @click="formSubmit">立即登录</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { Toast } from "vant";

export default {
  components: {
    Toast
  },
  props: {
    Shrapnel: {
      type: Boolean,
      default: true
    },

  },
  data () {
    return {
      // Shrapnel: true,
      getmsg: "获取验证码",
      msgPhone: false,
      msgCode: true,
      timer: true,
      code: "",
      phone: "",
      avatarUrl: "",
      token: ""
    };
  },
  mounted () {
    this.industryList();
  },
  methods: {
    async industryList () {
      let data = await this.$req(window.api.industryList);


    },
    // async checkToken() {
    //   let data = await this.$req(window.api.checkToken, {
    //     token: this.token
    //   });
    //   this.success = data.data.success;
    //   // console.log("weqweqwe",this.success)
    //   if (this.success == false) {
    //     this.Shrapnel = true;
    //   } else {
    //     this.Shrapnel = false;
    //     // console.log("ewqeqw");
    //   }
    // },
    phoneCheck () {
      if (/^1[3456789]\d{9}$/.test(this.phone)) {
        this.msgPhone = true;
      } else {
        this.msgPhone = false;
      }
    },
    // 验证码点击事件
    sendtap () {
      this.timeHandle();
      this.sendSms();
    },
    // 计时器
    timeHandle () {
      if (this.timer && this.msgPhone) {
        this.timer = false;
        let that = this;
        let time = 60;
        let inter = setInterval(function () {
          (that.getmsg = time + "s"), (that.msgCode = false);
          time--;
          if (time < 0) {
            clearInterval(inter);
            (that.getmsg = "获取验证码"), (that.timer = true);
          }
        }, 1000);
      } else {
        console.log(this.timer);
      }
    },
    // 后台获取验证码
    async sendSms () {
      console.log(window.api.sendSms, "213");

      let data = await this.$req(window.api.sendSms, {
        phone: this.phone
      });
      console.log("21354555", data);
      this.message = data.data.message;
      if (this.phone == "") {
        console.log("213123");

        Toast("请填写你的手机号");
      }
      // if (data.data.success == true) {
      //   Toast(this.message);
      // }
      else {
        Toast(this.message);
      }
    },
    // 提交
    formSubmit () {
      this.$emit('formSubmit');

    },


  },
  watch: {
    code: function (value) {
      if (value.length > 6) {
        this.$alertBox({
          showMask: true,
          content: `<p>验证码不正确</p>`
        });
      }
    }
  }
};
</script>
