<style lang='less'>
.page_wallet {
  background: #eee;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  .mescroll {
    position: fixed;
    top: 5rem;
    bottom: 0;
    height: auto; /*如设置bottom:50px,则需height:auto才能生效*/
    width: 100%;
  }
  .wallettop {
    height: 13vw;
  }
  .walletheader {
    height: 10vw;
    line-height: 10vw;
    display: flex;
    justify-content: flex-end;
    h3 {
      font-size: 4vw;
    }
    img {
      width: 5vw;
      height: 5vw;
      margin-right: 2vw;
      margin-top: 2.5vw;
    }
  }
  .wallet_main {
    margin: 3vw 3vw;
    border-radius: 2vw;
    padding: 5vw 4vw;
    background: #fff;
    height: 23vw;

    .briefa {
      width: 100%;
      // margin: 0 3vw;
      .genre {
        margin-top: 2vw;
        p {
          margin-left: 1vw;
        }
        span,
        p {
          font-size: 3vw;
        }
        i {
          font-size: 3vw;
          color: red;
        }
        em {
          font-size: 3vw;
        }
      }
    }
  }
}
</style>
<template>
  <div class='page_wallet'>
    <div class="wallettop">
      <headera :title="title"
               :typeIndex='3'></headera>
    </div>
    <div class="walletheader"
         @click="withdraw">
      <h3>申请提现</h3><img src="../../assets/youjiantou.png">
    </div>
    <mescrollVue ref="mescroll"
                 :down="mescrollDown"
                 :up="mescrollUp"
                 @init="mescrollInit">
      <div class="wallet_main"
           v-for="(item,index) in mescrollUp.dataList"
           :key="index">
        <div class="briefa">
          <div class="genre flex-sb">
            <div>
              <span>类型:</span><span>{{item.des}}</span>
            </div>
            <span>{{item.time}}</span>
          </div>
          <div class="genre flex-sb">
            <div class='flex'>
              <span>金额:</span>
              <p :style='item.type==0?"color:red;":"color:#26d944;"'>
                <span v-if="item.type!=0">+</span>
                <span v-else>-</span>
                {{item.money}}元
              </p>
            </div>
          </div>
          <div class="genre flex-sb">
            <div>
              <span>处理状态:</span><i>{{item.statusStr}}</i>
            </div>
          </div>
        </div>
      </div>

    </mescrollVue>
  </div>
</template>
<script>
import headera from "@/components/header";
import MescrollVue from 'mescroll.js/mescroll.vue';
import { Toast } from "vant";
export default {
  components: {
    headera,
    MescrollVue,
    Toast
  },
  data () {
    return {
      mescroll: null, // mescroll实例对象
      mescrollDown: {}, //下拉刷新的配置. (如果下拉刷新和上拉加载处理的逻辑是一样的,则mescrollDown可不用写了)
      mescrollUp: {
        // 上拉加载的配置.
        callback: this.upCallback, // 上拉回调,此处简写; 相当于 callback: function(page, mescroll) { }
        //以下是一些常用的配置,当然不写也可以的.
        page: {
          num: 0, //当前页 默认0,回调之前会加1; 即callback(page)会从1开始
          size: 10 //每页数据条数,默认10
        },
        htmlNodata: '<p class="upwarp-nodata">-- 暂无数据 --</p>',
        // noMoreSize: 5, //如果列表已无数据,可设置列表的总数量要大于5才显示无更多数据;

        // toTop: {
        //   src: require('../../static/img/icon/add.png'), //图片路径,默认null,支持网络图
        //   offset: 1000 //列表滚动1000px才显示回到顶部按钮
        // },
        empty: {
          //列表第一页无任何数据时,显示的空提示布局; 需配置warpId才显示
          warpId: 'emptyid', //父布局的id (1.3.5版本支持传入dom元素)
          // icon: require('../../static/img/icon/add.png'), //图标,默认null,支持网络图
          tip: '暂无相关数据~', //提示

          warpId: null,
          btntext: '',
          btnClick: null,
          supportTap: false
        },
        dataList: []
      },
      title: '我的钱包',
      wallet: [
        // {
        //   type: "提现",
        //   sum: "+11",
        //   state: "待打款",
        //   time: '2019/07/12 20:15'
        // },
        // {
        //   type: "提现",
        //   sum: "-11",
        //   state: "待打款",
        //   time: '2019/07/12 20:15'
        // }
      ]
    }
  },
  beforeRouteEnter (to, from, next) {
    // 如果没有配置回到顶部按钮或isBounce,则beforeRouteEnter不用写
    next(vm => {
      // 找到当前mescroll的ref,调用子组件mescroll-vue的beforeRouteEnter方法
      vm.$refs.mescroll && vm.$refs.mescroll.beforeRouteEnter() // 进入路由时,滚动到原来的列表位置,恢复回到顶部按钮和isBounce的配置
    })
  },
  beforeRouteLeave (to, from, next) {
    // 如果没有配置回到顶部按钮或isBounce,则beforeRouteLeave不用写
    // 找到当前mescroll的ref,调用子组件mescroll-vue的beforeRouteLeave方法
    this.$refs.mescroll && this.$refs.mescroll.beforeRouteLeave() // 退出路由时,记录列表滚动的位置,隐藏回到顶部按钮和isBounce的配置
    next()
  },
  mounted () {
    this.waterUserList();
  },
  methods: {
    mescrollInit (mescroll) {
      this.mescroll = mescroll // 如果this.mescroll对象没有使用到,则mescrollInit可以不用配置
    },
    upCallback (page, mescroll) {
      this.waterUserList(page, mescroll);
    },
    async waterUserList (page, mescroll) {
      let data = await this.$req(window.api.waterUserList);
      // console.log("121212121212121", data);
      if (data) {
        if (data.data.status == 200) {
          let arr = data.data.result.data;
          console.log("4564564", arr);

          if ((arr == [])) {
            setTimeout(() => {
              Toast("暂无更多数据");
            }, 50);
          }
          // 如果是第一页需手动置空列表
          if (this.mescrollUp.page.num === 1) this.mescrollUp.dataList = [];
          // 把请求到的数据添加到列表
          this.mescrollUp.dataList = this.mescrollUp.dataList.concat(arr);
          console.log("4514541", this.mescrollUp.dataList);

          // 数据渲染成功后,隐藏下拉刷新的状态
          this.$nextTick(() => {
            mescroll.endSuccess(arr.length);
          });
        } else {
          mescroll.endErr();
        }
      }


    },
    withdraw () {
      this.$router.push('/main_withdraw')
    }
  }
  // async  waterUserList () {
  //   let data = await this.$req(window.api.waterUserList)
  //   console.log("aaaaaaaaaaaaaaaaaa", data.data.result.data);
  //   this.wallet = data.data.result.data;
  // },


}
</script>
