<style lang='less'>
.main_withdraw {
  width: 100%;
  background: #eee;
  height: 100vh;
  overflow-y: scroll;
  .withdrawtop {
    height: 13vw;
  }
  .withdraw_body {
    margin: 5vw 5vw;
    .withdrawbody {
      width: 100%;
      height: 100vw;
      background: #fff;
      border-radius: 2vw;
      .withdrawa {
        padding: 0 3vw;
        .photo {
          width: 18vw;
          height: 18vw;
          margin: 0 auto;
          padding-top: 2vw;
          img {
            margin-top: 2vw;
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
        .withdraw {
          margin: 2vw 0;
          height: 18vw;
          border-bottom: 1px solid #eee;
          p {
            margin-top: 5vw;
            font-size: 4vw;
          }
          input {
            margin-top: 2vw;
            font-size: 3.5vw;
          }
          i {
            color: #d95125;
            font-size: 3.5vw;
          }
        }
      }
    }
  }
  .foot {
    // height: 50vw;
    background: #eee;
    .footera {
      margin: 22vw 10vw;

      button {
        margin-top: 1vw;
        border-radius: 2vw;
        width: 100%;
        height: 14vw;
        line-height: 14vw;
        background: #d95125;
        color: #fff;
        font-size: 5vw;
      }
    }
  }
}
</style>
<template>
  <div class='main_withdraw'>
    <div class="withdrawtop">
      <headera :title="title"
               :typeIndex='5'></headera>
    </div>
    <div class="withdraw_body">
      <div class="withdrawbody">
        <div class="withdrawa">
          <div class="photo">
            <img :src="avatarUrl"
                 v-if="avatarUrl" />
            <img src="../../assets/default.jpg"
                 alt="">
          </div>
          <div class="withdraw">
            <p><i>*</i>
              提现金额</p>
            <input type='text'
                   placeholder="请输入你的提现金额"
                   v-model="coin">
          </div>
          <div class="withdraw">
            <p><i>*</i>
              银行卡号</p>
            <input type='text'
                   placeholder="请输入你的银行卡号"
                   v-model="cardnumber">
          </div>
          <div class="withdraw">
            <p><i>*</i>
              开户行信息</p>
            <input type='text'
                   v-model="opening"
                   placeholder="请填写你的开户行信息">
          </div>
        </div>
      </div>
    </div>
    <div class="foot">
      <div class="footera">
        <button @click="servera">完成</button>
      </div>
    </div>
  </div>
</template>
<script>
import { Toast } from 'vant';
import headera from "@/components/header";
export default {
  components: {
    headera,
    Toast
  },
  data () {
    return {
      title: '申请提现',
      avatarUrl: '',
      cardnumber: "",
      opening: "",
      coin: ""
    }
  },
  mounted () {

  },
  methods: {
    async adds () {
      let data = await this.$req(window.api.add, {
        card: this.cardnumber,
        cardName: this.opening,
        money: this.coin
      })
      // if (condition) {

      // } else {

      // }
      // console.log("aaaaaaaaaaaaaaaaaa", data.data.result.data);
      // this.wallet = data.data.result.data;
      // this.$router.push("/main")
    },

    servera () {

      if (this.coin < 20) {
        Toast('提示内容');
      } else {
        this.adds();
      }





    }
  },
}
</script>
