<style lang="less">
.main_personageb {
  width: 100%;
  background: #eee;
  height: 100vh;
  overflow-y: scroll;
  .personagetopb {
    height: 13vw;
  }
  .personage_bodyb {
    margin: 5vw 5vw;
    .persobodyb {
      width: 100%;
      max-height: 210vw;
      min-height: 20vw;
      background: #fff;
      border-radius: 2vw;
      .persobodyab {
        padding: 0 3vw;

        .nameb {
          width: 100%;
          margin: 2vw auto;
          padding: 2.2vw 0;
          h4 {
            font-size: 5vw;
            margin: 3vw 0;
          }
          span {
            width: 29%;
            height: 10vw;
            margin: 1.5vw;
            font-size: 3vw;
            text-align: center;
            line-height: 10vw;
            background: #eee;
            border-radius: 1vw;
            display: inline-block;
            &.active {
              color: #d95125;
              background: #ff8282;
            }
          }
        }
        .myresource {
          width: 100%;
          margin: 2vw auto;
          padding: 2.2vw 0;
          h4 {
            font-size: 5vw;
            margin: 3vw 0;
          }
          span {
           padding: 1vw 5vw;
            height: 10vw;
            margin: 1.5vw;
            font-size: 3vw;
            text-align: center;
            line-height: 10vw;
            background: #eee;
            border-radius: 1vw;
            display: inline-block;
            &.active {
              color: #d95125;
              background: #ff8282;
            }
          }
        }
      }
    }
    .personage_bottom {
      background: #fff;
      height: 26vw;
      width: 100%;
      margin: 3vw 0;
      border-radius: 2vw;
      padding: 2vw 0;
      .briefa {
        margin: 0 2vw;
        h5 {
          margin-top: 2vw;
        }
        textarea {
          margin-top: 2vw;
          width: 100%;
          height: 20vw;
          color: #ccc;
        }
      }
    }
    .personage_bt {
      width: 100%;
      height: 20vw;
      background: #fff;
      border-radius: 2vw;
      .personage_bta {
        width: 100%;
        margin: 0 3vw;
        padding: 1vw 0;
        .nama {
          margin: 2vw 0;
          p {
            font-size: 4vw;
          }
          input {
            margin-top: 2vw;
          }
        }
      }
    }
  }
  .foot {
    height: 22vw;
    background: #eee;
    .footera {
      margin: 0 10vw;

      button {
        margin-top: 1vw;
        border-radius: 2vw;
        width: 100%;
        height: 14vw;
        line-height: 14vw;
        background: #d95125;
        color: #fff;
        font-size: 5vw;
      }
    }
  }
}
</style>
<template>
  <div class="main_personageb">
    <div class="personagetopb">
      <headera :title="title"
               :typeIndex="4"></headera>
    </div>
    <div class="personage_bodyb">
      <div class="persobodyb">
        <div class="persobodyab">
          <div class="nameb">
            <h4>我的行业</h4>
            <span v-for="(item, index) in namelist"
                  :key="index"
                  :class="{ active: checkedGroup.indexOf(item.id) > -1 }"
                  @click="switcher(index,item.id)">{{ item.name }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="personage_bodyb">
      <div class="persobodyb">
        <div class="persobodyab">
          <div class="myresource">
            <h4>我的资源</h4>
            <span v-for="(item, index) in resource"
                  :key="index"
                  :class="{ active: checkelist.indexOf(item.id) > -1 }"
                  @click="swlist(index,item.id)">{{ item.name }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="foot">
      <div class="footera">
        <button @click="servera">完成</button>
      </div>
    </div>
  </div>
</template>
<script>
import { Toast } from "vant";
import headera from "@/components/header";
export default {
  components: {
    headera,
    Toast
  },
  data () {
    return {
      title: "修改个人信息",
      avatarUrl: "",
      checkedGroup: [],
      checkelist: [],
      namelist: [
      ],
      wasting: [],
      guild: "",
      resources: "",
      resource: []
    };
  },
  mounted () {

    this.wxInfo();
    this.indexa();
  },
  methods: {
    async wxInfo () {
      let data = await this.$req(window.api.wxInfo, {
        // userId: 'ea6ddd80badf4e3e9c8b92bcad03692a'
        // userId: this.$route.params.id
      });

      this.messag = data.data.result.industryList;
      this.resourceList = data.data.result.resourceList;
      console.log("444444444444444444444444444", this.resourceList);
      for (let i = 0; i < this.messag.length; i++) {
        this.checkedGroup.push(this.messag[i].id)

      }
      for (let i = 0; i < this.resourceList.length; i++) {
        this.checkelist.push(this.resourceList[i].id)

      }
    },
    servera () {
      this.updateInfo();

    },
    async indexa () {
      let data = await this.$req(window.api.indexa);
      this.resource = data.data.result.resourceList;
      this.namelist = data.data.result.industryList;
      // console.log("rewwwwwwwwwww", this.wasting);
    },
    switcher (index, id) {
      if (this.checkedGroup.indexOf(id) > -1) {
        this.checkedGroup.splice(this.checkedGroup.indexOf(id), 1);
      } else {
        if (this.checkedGroup.length <= 2) {
          if (this.checkedGroup.indexOf(id) == -1) {
            this.checkedGroup.push(id)
          }
          else {
            // console.log("44454545", this.demandId.indexOf(id));
            this.checkedGroup.splice(this.checkedGroup.indexOf(id), 1)
          }
          // this.checkedGroup.push(index);

        }
        else {
          Toast("最多只能选择三个哦！");
        }
      }


    },

    async  updateInfo () {
      this.resources = this.checkelist.join(',');
      this.guild = this.checkedGroup.join(',');
      console.log("yuuuuuuuuuu", this.resources);
      console.log("yuuuuuuuuuu", this.guild);
      let data = await this.$req(window.api.updateInfo, {
        id: this.$route.params.userId,
        position: this.$route.params.position,
        avatarUrl: this.$route.params.avatarUrl,
        wx: this.$route.params.wx,
        des: this.$route.params.des,
        name: this.$route.params.name,
        province: this.$route.params.province,
        city: this.$route.params.city,
        industry: this.guild,
        resource: this.resources
      })
      if (data.data.success) {
        Toast("您已修改成功")
        this.$router.push("/main");
      } else {

      }

    },
    swlist (index, id) {
      if (this.checkelist.indexOf(id) > -1) {
        this.checkelist.splice(this.checkelist.indexOf(id), 1);
      } else {
        if (this.checkelist.length <= 2) {
          if (this.checkelist.indexOf(id) == -1) {
            this.checkelist.push(id)
          }
          else {
            // console.log("44454545", this.demandId.indexOf(id));
            this.checkelist.splice(this.checkelist.indexOf(id), 1)
          }
          // this.checkedGroup.push(index);

        }
        else {
          Toast("最多只能选择三个哦！");
        }
      }
      this.resources = this.checkelist.join(',');
      console.log("yuuuuuuuuuu", this.resources);
    }
  }
};
</script>
