<style lang='less'>
.main_personage {
  width: 100%;
  background: #eee;
  height: 100vh;
  overflow-y: scroll;
  .personagetop {
    height: 13vw;
  }
  .personage_body {
    margin: 5vw 5vw;
    .persobody {
      width: 100%;
      height: 100vw;
      background: #fff;
      border-radius: 2vw;
      .persobodya {
        padding: 0 3vw;
        .photo {
          width: 18vw;
          height: 18vw;
          margin: 0 auto;
          padding-top: 2vw;
          img {
            margin-top: 2vw;
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
        .namea {
          margin: 2vw 0;
          height: 18vw;
          border-bottom: 1px solid #eee;
          p {
            margin-top: 5vw;
            font-size: 4vw;
          }
          input {
            margin-top: 2vw;
            font-size: 3vw;
          }
          span {
            width: 48%;
            height: 5vw;
            display: inline-block;
            margin-right: 5vw;
            text-align: center;
            font-size: 3.5vw;
            margin-top: 2vw;
          }
        }
      }
    }
    .personage_bottom {
      background: #fff;
      height: 26vw;
      width: 100%;
      margin: 3vw 0;
      border-radius: 2vw;
      padding: 2vw 0;
      .briefa {
        margin: 0 2vw;
        h5 {
          margin-top: 2vw;
          font-size: 3vw;
        }
        textarea {
          margin-top: 2vw;
          width: 100%;
          height: 20vw;
          font-size: 3vw;
        }
      }
    }
    .personage_bt {
      width: 100%;
      height: 20vw;
      background: #fff;
      border-radius: 2vw;
      .personage_bta {
        width: 100%;
        margin: 0 3vw;
        padding: 1vw 0;
        .nama {
          margin: 2vw 0;
          p {
            font-size: 4vw;
          }
          input {
            margin-top: 2vw;
            font-size: 4vw;
          }
        }
      }
    }
  }
  .foot {
    height: 22vw;
    background: #eee;
    .footera {
      margin: 0 10vw;

      button {
        margin-top: 1vw;
        border-radius: 2vw;
        width: 100%;
        height: 14vw;
        line-height: 14vw;
        background: #d95125;
        color: #fff;
        font-size: 5vw;
      }
    }
  }
}
</style>
<template>
  <div class='main_personage'>
    <div class="personagetop">
      <headera :title="title"
               :typeIndex='3'></headera>
    </div>
    <div class="personage_body">
      <div class="persobody">
        <div class="persobodya">
          <div class="photo">
            <img :src="messag.avatarUrl"
                 v-if="messag.avatarUrl" />
            <img v-else
                 src="../../assets/default.jpg"
                 alt="">
          </div>
          <div class="namea">
            <p>姓名</p>
            <input type='text'
                   placeholder="请输入你的姓名"
                   v-model="messag.name">
          </div>
          <div class="namea">
            <p>职位</p>
            <input type='text'
                   placeholder="请输入你的职位"
                   v-model="messag.position">
          </div>
          <div class="namea">
            <p>所在地</p>
            <div class='flex'>
              <span @click="whole">{{ region[0] }} ▼</span>
              <span @click="whole">{{ region[1] }} ▼</span>
            </div>

          </div>
          <Popup v-model="isshow"
                 position="bottom">
            <Area :value="valuel"
                  :area-list="area"
                  :columns-num="2"
                  @confirm="confirm"
                  @cancel="close" />
          </Popup>
        </div>
      </div>
      <div class="personage_bottom">
        <div class="briefa">
          <h5>一句话简介</h5>
          <textarea v-model="messag.des"
                    name=""
                    id=""
                    cols="30"
                    rows="10"
                    placeholder="您可用公司名称+岗位或从事行业加资源的形式快速的让其他会员认识你。例：南京乐网运营总监"></textarea>
        </div>

      </div>
      <div class="personage_bt">
        <div class="personage_bta">
          <div class="nama">
            <p>微信号</p>
            <input type='text'
                   placeholder="请输入你的微信号"
                   v-model="messag.wx">
          </div>
        </div>
      </div>
    </div>
    <div class="foot">
      <div class="footera">
        <button @click="servera">下一步</button>
      </div>

    </div>
  </div>
</template>
<script>
import {
  Popup,
  Area,
  Toast,
} from "vant";
import headera from "@/components/header";
import area from "@/views/area";
export default {
  components: {
    headera,
    Popup,
    Area,
  },
  data () {
    return {
      title: '修改个人信息',

      messag: {
        avatarUrl: '',
        name: "",
        position: "",
        province: "",
        city: "",
        des: "",
        wx: ""
      },
      region: [],
      isshow: false,
      valuel: "",
      area: area,
      userId: ""
    }
  },
  mounted () {
    this.wxInfo();
  },
  methods: {
    confirm (valuel) {
      this.region[0] = valuel[0].name;
      this.region[1] = valuel[1].name;

      this.isshow = false;
    },
    close () {
      this.isshow = false;
      this.valuel = "";
      this.region = [];
    },
    whole (valuel) {
      this.isshow = true;
    },
    async wxInfo () {
      let data = await this.$req(window.api.wxInfo, {
        // userId: 'ea6ddd80badf4e3e9c8b92bcad03692a'
        // userId: this.$route.params.id
      });
      console.log("444444444444444444444444444", data);
      this.messag = data.data.result;
      this.region[0] = data.data.result.province;
      this.region[1] = data.data.result.city;
      this.userId = data.data.result.id;
    },
    servera () {
      this.$router.push({
        name: "main_personageb",
        params: {
          userId: this.userId,
          position: this.messag.position,
          avatarUrl: this.messag.avatarUrl,
          wx: this.messag.wx,
          des: this.messag.des,
          name: this.messag.name,
          province: this.region[0],
          city: this.region[1]
        }
      })
    }
  },
}
</script>
