<style lang="less">
.page_secondary {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background: #fff;
  .top {
    height: 13vw;
  }
  .main {
    .maintop {
      height: 13vw;
      line-height: 13vw;
      padding: 0 3vw;
      i {
        font-size: 4vw;
        margin-right: 3vw;
      }
      span {
        font-size: 4vw;
      }
      img {
        width: 5vw;
        height: 5vw;
        margin-top: 4vw;
      }
      p {
        font-size: 4vw;
      }
    }
    .mescroll {
      position: fixed;
      top: 23vw;
      bottom: 0;
      // background: #eee;
      height: auto;
    }
    .seek {
      margin-top: 5vw;
      border-bottom: 1px solid #ccc;
      min-height: 27vw;
      padding: 0 2vw;
      img {
        width: 15vw;
        height: 15vw;
        border-radius: 50%;
      }

      .texta {
        margin: 2vw 2vw;
      }

      .seek_right {
        width: 70vw;
        margin-left: 3vw;

        .seek_righta {
          width: 100%;
          float: left;
          span {
            margin-top: 2vw;
            margin-right: 2vw;
            text-align: center;
            width: 30%;
            height: 6vw;
            line-height: 6vw;
            display: inline-block;
            background: #fde8ea;
            color: #fd2840;
          }
          p {
            margin-top: 2vw;
            margin-right: 1vw;
            text-align: center;
            line-height: 6vw;
            display: inline-block;
            background: #fde8ea;
            color: #fd2840;
          }
        }
        p {
          color: #000;
          width: 20vw;
        }
        i {
          margin-left: 1vw;
          color: #868686;
        }
      }
    }
  }
}
</style>
<template>
  <div class="page_secondary">
    <div class="top">
      <headera :title="title"
               :typeIndex="1"></headera>
    </div>
    <div class="main">
      <div class="maintop flex-sb">
        <div class="flex">
          <div>
            <img src="../../assets/address.png" />
          </div>
          <i @click="isshows">{{ region[0] }}</i>
          <span @click="isshows">{{ region[1] }} ▼</span>
          <van-popup v-model="isshow"
                     position="bottom">
            <van-area :value="valuel"
                      :area-list="area"
                      :columns-num="2"
                      @confirm="confirm" />
          </van-popup>
        </div>
        <div>
          <p @click="showPicker = true">{{ Confirm[0] }} ▼</p>
          <van-popup v-model="showPicker"
                     position="bottom">
            <van-picker show-toolbar
                        :value="value"
                        :columns="columns"
                        @cancel="showPicker = false"
                        @confirm="onConfirm" />
          </van-popup>
        </div>
      </div>
      <mescrollVue ref="mescroll"
                   :down="mescrollDown"
                   :up="mescrollUp"
                   @init="mescrollInit">
        <div class="seek"
             @click="particulars(item)"
             v-for="(item, index) in mescrollUp.dataList"
             :key="index">
          <div class="flex">
            <img :src="item.avatarUrl"
                 v-if="avatarUrl" />
            <img src="../../assets/default.jpg"
                 alt="" />
            <div class="seek_right">
              <div class="flex">
                <p>{{ item.name }}</p>

                <i>{{ item.nickName }}</i>
              </div>

              <div class="seek_righta">
                <span v-for="(outer, k) in item.industryList"
                      :key="k">{{
                  outer.name
                }}</span>
                <p>{{ item.city }}</p>
              </div>
            </div>
          </div>
          <p class="texta">{{ item.des }}</p>
        </div>
      </mescrollVue>
    </div>
  </div>
</template>
<script>
import headera from "@/components/header";
import MescrollVue from "mescroll.js/mescroll.vue";
import { Picker, Popup, DropdownMenu, DropdownItem, Area, Toast } from "vant";
import area from "@/views/area";
export default {
  components: {
    headera,
    Picker,
    Popup,
    DropdownMenu,
    DropdownItem,
    Area,
    Toast,
    MescrollVue
  },

  data () {
    return {
      isFirstEnter: false,
      // 分页
      mescroll: null, // mescroll实例对象
      mescrollDown: {}, //下拉刷新的配置. (如果下拉刷新和上拉加载处理的逻辑是一样的,则mescrollDown可不用写了)
      mescrollUp: {
        // 上拉加载的配置.
        callback: this.upCallback, // 上拉回调,此处简写; 相当于 callback: function(page, mescroll) { }
        //以下是一些常用的配置,当然不写也可以的.
        page: {
          num: 0, //当前页 默认0,回调之前会加1; 即callback(page)会从1开始
          size: 10 //每页数据条数,默认10
        },
        htmlNodata: '<p class="upwarp-nodata">-- 暂无更多数据 --</p>',
        noMoreSize: 5, //如果列表已无数据,可设置列表的总数量要大于5才显示无更多数据;
        // 避免列表数据过少(比如只有一条数据),显示无更多数据会不好看
        // 这就是为什么无更多数据有时候不显示的原因
        // toTop: {
        //   //回到顶部按钮
        //   src: "./static/mescroll/mescroll-totop.png", //图片路径,默认null,支持网络图
        //   offset: 1000 //列表滚动1000px才显示回到顶部按钮
        // },
        empty: {
          //列表第一页无任何数据时,显示的空提示布局; 需配置warpId才显示
          warpId: "emptyid", //父布局的id (1.3.5版本支持传入dom元素)
          // icon: require('../../static/img/icon/add.png'), //图标,默认null,支持网络图
          tip: "暂无相关数据~", //提示

          warpId: null,
          btntext: "",
          btnClick: null,
          supportTap: false
        },
        // },
        dataList: [] // 列表数据
      },
      valuel: "",
      showPicker: false,
      area: area,
      value: "",
      isshow: false,
      title: "通讯录",
      avatarUrl: "",
      region: ["全国", "全市"],
      Confirm: ["全部"],
      seeklist: [
        // {
        //   name: "黄剑锋",
        //   describe: '嘉兴中企视图软件科技有限公司CEO',
        //   lista: ["电子商务", "嘉兴市"],
        //   introduce: "成立于2017年为中小型企业提供IT工具服务包含：1688商学院，“小吸盘”整个营销系统（官网，搜索引擎推广，智能名片）"
        // },
      ],
      columns: [],
      industryid: []
    };
  },
  activated () {
    if (!this.$route.meta.isBack) {
      this.mescrollUp.dataList = []
      this.search();
    }
    this.$route.meta.isBack = false
  },
  beforeRouteEnter (to, from, next) {
    if (from.name == 'address') {
      to.meta.isBack = false;
    } else if (from.name == 'address_particulars') {
      to.meta.isBack = true;
      // to.meta.keepAlive = true;
    }
    next(vm => {
      vm.$refs.mescroll && vm.$refs.mescroll.beforeRouteEnter(); // 进入路由时,滚动到原来的列表位置,恢复回到顶部按钮和isBounce的配置
    });
  },
  beforeRouteLeave (to, from, next) {
    this.$refs.mescroll && this.$refs.mescroll.beforeRouteLeave(); // 退出路由时,记录列表滚动的位置,隐藏回到顶部按钮和isBounce的配置
    next();
  },
  mounted () {
    console.log("qweeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee");

    this.industryList();
    // this.search();
  },
  methods: {
    mescrollInit (mescroll) {
      this.mescroll = mescroll; // 如果this.mescroll对象没有使用到,则mescrollInit可以不用配置
    },
    // 上拉回调 page = {num:1, size:10}; num:当前页 ,默认从1开始; size:每页数据条数,默认10
    upCallback (page, mescroll) {
      this.searchs(page, mescroll);
    },
    async searchs (page, mescroll) {
      let data = await this.$req(window.api.search, {
        pageNo: this.mescrollUp.page.num,
        pageSize: this.mescrollUp.page.size
      });
      if (data.data.status == 200) {
        let arr = data.data.result.data;
        if ((arr == [])) {
          setTimeout(() => {
            Toast("暂无更多数据");
          }, 50);
        }
        // 如果是第一页需手动置空列表
        if (this.mescrollUp.page.num === 1) this.mescrollUp.dataList = [];
        // 把请求到的数据添加到列表
        this.mescrollUp.dataList = this.mescrollUp.dataList.concat(arr);
        console.log("4514541", this.mescrollUp.dataList);

        // 数据渲染成功后,隐藏下拉刷新的状态
        this.$nextTick(() => {
          mescroll.endSuccess(arr.length);
        });
      } else {
        mescroll.endErr();
      }
    },
    async search () {
      let data = await this.$req(window.api.search, {
        province: this.$route.params.province,
        city: "",
        // demandId: "",
        industryId: this.$route.params.industryId
      });
      // console.log("qg", data.data.result.data);
      if (data.data.result.data.length == 0) {
        Toast("暂无相关数据");
      } else {
        this.mescrollUp.dataList = data.data.result.data
        console.log("woshini");

      }
      console.log("1433223", this.seeklist);
    },
    async industryList () {
      let data = await this.$req(window.api.industryList);

      this.result = data.data.result;
      // console.log("543543", this.result);

      let columns = [];
      for (let i = 0; i < this.result.length; i++) {
        this.columns.push(this.result[i].name);
      }
    },
    isshows () {
      this.isshow = true;
    },
    particulars (item) {

      this.$router.push({
        path: `/address_particulars/${item.id}`
      });
    },
    confirm (valuel) {
      console.log(valuel);
      this.region[0] = valuel[0].name;
      this.region[1] = valuel[1].name;
      this.isshow = false;
      this.hunt();
    },
    async hunt () {
      let data = await this.$req(window.api.search, {
        province: this.region[0],
        city: "",
        demandId: "",
        industryId: this.industryid
      });
      if (data.data.result.data.length == 0) {
        Toast("暂无相关数据");
      } else {
        this.mescrollUp.dataList = data.data.result.data
        console.log("woshini");

      }
    },
    onConfirm (value) {
      console.log(value);
      this.industryid = value.id;
      this.Confirm[0] = value;
      this.showPicker = false;
      this.hunt();
    },
    complete () {
      this.showPicker = true;
    }
  },
  destroyed () {
    console.log("rtgryht");
  },
  created () {
    this.isFirstEnter = true;
  },

};
</script>
