<style lang="less">
.page_particulars {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background: #eee;
  .hader {
    height: 13vw;
  }
  .particulars_main {
    background: #fc2f46;
    min-height: 89vw;
    max-height: 109vw;
    text-align: center;
    padding: 0 5vw;
    p {
      margin-top: 2vw;
      color: #fff;
      font-size: 3.7vw;
    }
    .maintop {
      width: 25vw;
      height: 25vw;
      margin: 0 auto;
      position: relative;
      padding-top: 3vw;
      img {
        border-radius: 50%;
        width: 22vw;
        height: 22vw;
      }
      span {
        width: 4vw;
        height: 4vw;
        margin-top: -4vw;
        margin-left: 15vw;
        background: url("../../assets/icon-vip-1.png") no-repeat;
        background-size: 100%;
        position: absolute;
        top: 25vw;
        left: 0vw;
      }
    }
    .briefintroduction {
      height: 20vw;
    }
    .introduce {
      margin-top: 4.7vw;
      width: 100%;
      height: 42.99vw;

      .introduce_top {
        border-top-left-radius: 1vw;
        border-top-right-radius: 1vw;
        min-height: 30vw;
        height: 40vw;
        background: #2d2a20;
        padding: 2vw 2vw;
        text-align: left;
        .business {
          width: 100%;
          float: left;
          p {
            min-width: 13%;
            padding: 0 2vw;
            display: inline;
          }
        }
        h4 {
          color: #fff;
          &:first-child {
            color: #e1ca95;
          }
        }
        p {
          color: #e1ca95;
        }
        .referral {
          color: #fff;
          min-height: 15vw;
          padding: 2vw 1vw;
        }
      }
    }
  }
  .introduce_bottom {
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    margin: 0 5vw;
    height: 42vw;
    background: #fff;

    text-align: left;

    .specific {
      padding: 2vw 2vw;
      height: 6vw;
      border-bottom: 1px solid #eee;
    }
    .specif {
      margin: 3vw 2vw;
      span {
        color: #e1ca95;
        display: block;
        margin-bottom: 2vw;
      }
      i {
        margin: 0 1vw;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .foter {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 12vw;
    width: 100%;
    background: #fff;
    text-align: center;
    line-height: 12vw;
    .footer {
      width: 50%;
      img {
        width: 5vw;
        height: 4vw;
        margin-top: 4vw;
        margin-left: 12vw;
      }
      p {
        color: #d95125;
        margin-left: 2vw;
      }
    }
    .footera {
      width: 50%;
      img {
        width: 5vw;
        height: 4vw;
        margin-top: 4vw;
        margin-left: 15vw;
      }
      p {
        color: #d95125;
        margin-left: 2vw;
      }
    }
    i {
      height: 9vw;
      width: 0.6vw;
      background: #eee;
      margin-top: 1vw;
    }
  }
}
</style>
<template>
  <div class="page_particulars">
    <div class="hader">
      <headera :title="title"
               :typeIndex="2"></headera>
    </div>
    <div class="particulars_main">
      <div class="maintop">
        <img :src="businesscard.avatarUrl"
             v-if="businesscard.avatarUrl" />
        <img v-else
             src="../../assets/default.jpg"
             alt="" />
        <span v-if="businesscard.member==1"></span>
        <p v-else></p>
      </div>
      <div class="briefintroduction">
        <p>{{ businesscard.name }}</p>
        <p>{{ businesscard.province }}-{{ businesscard.city }}</p>
        <p>第{{businesscard.num}}位会员</p>
      </div>
      <div class="introduce">
        <div class="introduce_top">
          <h4>行业/资源</h4>
          <div class="business">
            <p v-for="(item, index) in industryList"
               :key="index">
              #{{ item.name }}#
            </p><br />
            <p v-for="(ourt) in resourceList"
               :key="ourt.createTime">
              #{{ ourt.name }}#
            </p>
          </div>
          <p>个人介绍</p>
          <div class="referral">
            {{ businesscard.des }}
          </div>
        </div>
      </div>
    </div>
    <div class="introduce_bottom">
      <div class="specific flex-sb">
        <p>合作微信</p>
        <p>{{businesscard.wx}}</p>
      </div>
      <div class="specific flex-sb">
        <p>合作手机</p>
        <p>{{businesscard.phone}}</p>
      </div>
      <div class="specif">
        <span>职位职务</span>
        <i>{{businesscard.superiorName}}</i>
      </div>
    </div>
    <div class="foter flex">
      <div class="footer flex">
        <img src="../../assets/icon-handshake.png" />
        <p>交换联系方式</p>
      </div>
      <i></i>
      <div class="footera flex">
        <img src="../../assets/icon-contact.png" />
        <p>联系TA</p>
      </div>
    </div>
  </div>
</template>
<script>
import headera from "@/components/header";
export default {
  components: {
    headera
  },

  data () {
    return {
      title: "TA的名片",
      businesscard: [],
      industryList: [],
      resourceList: []
    };
  },
  mounted () {
    // console.log("我的",this.$router.query.userId);

    this.wxInfo();
  },
  methods: {
    //  async wxInfo() {
    //   let data = await this.$req(window.api.wxInfo, {
    //   userId: '0fb63611aedc4adb964521b70fbf6f7e'
    //   });
    // console.log("jiancha efw rfwerfwfwefwe", data);
    // },
    async wxInfo () {
      let data = await this.$req(window.api.wxInfo, {
        // userId: 'ea6ddd80badf4e3e9c8b92bcad03692a'
        userId: this.$route.params.id
      });
      if (data) {
        this.businesscard = data.data.result;
        console.log("daswadssssssssssss", this.businesscard);

        this.industryList = data.data.result.industryList;
        this.resourceList = data.data.result.resourceList
      }


    }
  },
  activated () {
    if (!this.$route.meta.isBack) {
      // 如果isBack是false，表明需要获取新数据，否则就不再请求，直接使用缓存的数据
      this.businesscard = [];
      this.industryList = [];
      this.resourceList = [];
      this.wxInfo();
    }
    // 恢复成默认的false，避免isBack一直是true，导致下次无法获取数据
    this.$route.meta.isBack = false

  },
  beforeRouteEnter (to, from, next) {
    if (from.name == 'address_secondary') {
      to.meta.isBack = false;
    }

    next();
  },
};
</script>
