<style lang="less">
.pages_address {
  width: 100%;
  // height: 100vh;
  // position: relative;
  overflow-y: scroll;
  background: #fff;
  .hadertop {
    margin: 0 0.5rem;
    height: 151vw;
    min-height: 100vw;
    .logo {
      width: 100%;
      height: 42vw;
      background: url("../../assets/banner-maillist.png") no-repeat;
      background-size: 100% 100%;
      p {
        width: 13.7vw;
        height: 20vw;
        padding-top: 29.2vw;
        margin: 0 auto;
        font-size: 4vw;
        letter-spacing: -2px;
      }
    }
    .server {
      max-height: 100vw;
      .industry {
        height: 20vw;
        h3 {
          margin: 3vw 0;
          font-size: 4vw;
        }
        span {
          width: 100%;
          height: 10vw;
          line-height: 10vw;
          background: #eee;
          display: block;
          text-align: center;
          font-size: 3.5vw;
          color: #ccc;
        }
        /deep/.van-cell {
          padding: 0;
          .van-cell__value {
            .van-field__body {
              .van-field__control {
                width: 100%;
                height: 10vw;
                background: #eee;
                text-align: center;
                color: #ccc;
                font-size: 3vw;
              }
              // .van-field__right-icon {
              //   position: fixed;
              //   right: 20vw;
              //   .van-icon {
              //     &::before {
              //       // content: "";
              //     }
              //   }
              // }
            }
          }
        }
      }
      .region {
        height: 20vw;
        h3 {
          margin: 3vw 0;
          font-size: 4vw;
        }
        span {
          width: 48%;
          background: #eee;
          display: inline-block;
          height: 10vw;
          line-height: 10vw;
          text-align: center;
          font-size: 3vw;
          margin-right: 2vw;
        }
      }
      h3 {
        margin: 3vw 0;
        font-size: 4vw;
      }
      .resource {
        height: 50vw;
        .red {
          color: #d95125;
          background: #ff8282;
        }
        .black {
          background: #eee;
          color: #000;
        }

        span {
          // width: 26vw;
          padding: 0 5vw;
          height: 10vw;
          margin-top: 2vw;
          margin-right: 2.5vw;
          text-align: center;
          line-height: 10vw;
          background: #eee;
          border-radius: 1vw;
          display: inline-block;
          font-size: 0.1vw;
          &.active {
            color: #fff;
            background: #ff8282;
          }
        }
      }
    }
  }

  .foot {
    height: 41vw;
    background: #eee;
    .footera {
      margin: 0 5vw;

      button {
        margin-top: 5vw;
        border-radius: 2vw;
        width: 100%;
        height: 14vw;
        line-height: 14vw;
        background: #d95125;
        color: #fff;
        font-size: 5vw;
      }
    }
  }
  .bottoma {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
</style>
<template>
  <div class="pages_address">
    <div class="hadertop">
      <div class="logo">
        <p>35929</p>
      </div>
      <div class="server">
        <div class="industry">
          <h3>按行业找人</h3>
          <span @click="showPicker = true">{{ columns }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;▼</span>
          <Popup v-model="showPicker"
                 position="bottom">
            <picker show-toolbar
                    :columns="columnsa"
                    v-model="showPicker"
                    @cancel="closea"
                    @confirm="onConfirm" />
          </Popup>
        </div>
        <div class="region">
          <h3>按地区找人</h3>
          <div class="flex">
            <span @click="whole">{{ region[0] }} ▼</span>
            <span @click="isshows">{{ region[1] }} ▼</span>
          </div>

          <Popup v-model="isshow"
                 position="bottom">
            <Area :value="valuel"
                  :area-list="area"
                  :columns-num="2"
                  @confirm="confirm"
                  @cancel="close" />
          </Popup>
        </div>
        <h3>按资源找人</h3>
        <div class="resource">
          <span v-for="(item, index) in demandLista"
                :key="index"
                :value="value"
                :class="{ active: demandId.indexOf(item.id) > -1 }"
                @click="switcher(index, item.id)">{{ item.text }}</span>
        </div>
      </div>
    </div>

    <div class="foot">
      <div class="footera">
        <button @click="server">搜索</button>
      </div>
    </div>
    <div class="bottoma">
      <tab></tab>
    </div>
    <login ref="phone"
           :Shrapnel="Shrapnel"
           @formSubmit="formSubmit"
           :phone="phone"
           :code="code"></login>
  </div>
</template>
<script>
import {
  Picker,
  Popup,
  DropdownMenu,
  DropdownItem,
  Area,
  Toast,
  Field
} from "vant";
import tab from "@/components/tab";
import login from "@/components/login";
import area from "@/views/area";
export default {
  components: {
    tab,
    Picker,
    Popup,
    DropdownMenu,
    DropdownItem,
    Area,
    login,
    Toast,
    Field
  },
  title: "",
  data () {
    return {
      checkedGroup: [],
      changeRed: -1,
      // switcher: true,
      Shrapnel: true,
      code: "",
      phone: "",
      area: area,
      isshow: false,
      // namelist: [],
      demandList: {},
      index: 0,
      value: "",
      valuel: "",
      showPicker: false,
      showPickera: false,
      columns: "选择一个您关注的行业",
      columnsa: [],
      demandLista: [],
      region: ["全省", "全市"],
      regiona: "",
      switcherlist: [],
      industryid: "",
      demandId: [],
      resource: "",
      resourceList: []
    };
  },
  mounted () {
    console.log(
      "kfalsadfaaaa",
      typeof window.localStorage.getItem("mytoken") == "string"
    );
    if (typeof window.localStorage.getItem("mytoken") == "string") {
      this.Shrapnel = false;
    } else {
      this.Shrapnel = true;
    }
    this.indexa();
  },
  methods: {
    formSubmit () {
      console.log("this", this.$refs.phone._data);
      this.wxLogin();
    },

    async wxLogin () {
      let data = await this.$req(window.api.wxLogin, {
        phone: this.$refs.phone._data.phone,
        code: this.$refs.phone._data.code
      });
      this.success = data.data.success;
      this.message = data.data.message;
      // this.token = data.data.result.token;
      console.log("23444", this.token);
      if (this.$refs.phone._data.phone == "") {
        console.log("213123");

        Toast("请填写你的手机号");
      } else if (this.$refs.phone._data.code == "") {
        Toast("请填写你的验证码");
      } else {
        if (this.success == true) {
          this.token = data.data.result.token;
          localStorage.setItem("mytoken", this.token);
          //  window.Global.setLocalStorage("token",this.token);
          console.log("456781", this.token);
          this.Shrapnel = false;
        } else {
          Toast("手机号或验证码不正确");
        }
      }
    },
    // 登录事件
    // formSubmit() {
    //   this.wxLogin();
    //   // this.$router.push("/address");
    //   this.Shrapnel = false;
    // },
    //  async wxLogin() {
    //   let data = await this.$req(window.api.wxLogin, {
    //     phone: this.phone,
    //     code: this.code
    //   });
    //   this.success = data.data.success;
    //   this.message = data.data.message;
    //   if (this.phone == "") {
    //     console.log("213123");

    //     Toast("请填写你的手机号");
    //   } else if (this.code == "") {
    //     Toast("请填写你的验证码");
    //   } else {
    //     console.log("wqe", data);
    //     Toast.loading({
    //       forbidClick: true,
    //       duration: 0
    //     });
    //     if (this.success == true) {
    //       Toast.clear();
    //     } else {
    //       Toast("手机号或验证码不正确");
    //     }
    //   }
    // },
    close () {
      this.isshow = false;
      this.valuel = "";
      this.region = ["全省", "全市"];
    },
    closea () {
      this.showPicker = false;
      this.columns = "选择一个您关注的行业";
    },
    async indexa () {
      let data = await this.$req(window.api.indexa);

      this.resourceList = data.data.result.resourceList;
      this.industryList = data.data.result.industryList;
      // console.log("4566666", this.industryList);
      let columnsa = [];
      for (let i = 0; i < this.industryList.length; i++) {
        this.columnsa.push({
          text: this.industryList[i].name,
          id: this.industryList[i].id
        });
      }
      let demandLista = [];
      for (let i = 0; i < this.resourceList.length; i++) {
        this.demandLista.push({
          text: this.resourceList[i].name,
          id: this.resourceList[i].id
        });
      }
      console.log("2", this.demandLista);
    },
    // 行业找人
    onConfirm (value) {
      this.columns = value.text;
      this.industryid = value.id;
      console.log("38575869707-7898754745", this.industryid);

      this.showPicker = false;
    },
    isshows (valuel) {
      // this.value = value;
      this.isshow = true;
    },
    whole (valuel) {
      this.isshow = true;
    },
    confirm (valuel) {
      this.region[0] = valuel[0].name;
      this.region[1] = valuel[1].name;

      this.isshow = false;
    },
    server () {
      this.$router.push({
        name: "address_secondary",
        params: {
          industryId: this.industryid,
          province: this.region[0],
          city: this.region[1],
          demandId: this.resource
        }
      });
    },

    switcher (index, id) {
      // console.log("erer", this.demandId.indexOf(id));

      // if (this.demandId.length <=3) {
      //   if (this.demandId.indexOf(id) ==-1) {

      //     this.demandId.push(id)
      //     console.log("6", this.demandId);

      //   } else {
      //     console.log("44454545",this.demandId.indexOf(id));
      //     this.demandId.splice(this.demandId.indexOf(id),1)
      //     console.log("sfsdf", this.demandId);
      //   }
      // }

      if (this.demandId.indexOf(id) > -1) {
        this.demandId.splice(this.demandId.indexOf(id), 1);
      } else {
        if (this.demandId.length <= 2) {
          if (this.demandId.indexOf(id) == -1) {
            this.demandId.push(id);
          } else {
            // console.log("44454545", this.demandId.indexOf(id));
            this.demandId.splice(this.demandId.indexOf(id), 1);
          }
          // this.checkedGroup.push(index);
        } else {
          Toast("最多只能选择三个哦！");
        }
      }
      console.log("hanyutian", this.demandId);
      this.resource = this.demandId.join(",");
      console.log("yuuuuuuuuuu", this.resource);
    }
  },
  // watch: {
  //   'columns': function (value) {

  //     // 清空与地区关联数据
  //     // this.columns= "选择一个您关注的行业"
  //   },
  // },

  beforeDestroy () { },
  destroyed () {
    console.log("rtgryht");
  },
  beforeRouteLeave (to, from, next) {
    // console.log("from",from);

    next();
  }
};
</script>
