<style lang="less">
.page_messagea {
  background: #eee;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  .stylize {
    text-align: center;
    background: #3a96e1;
    border: 1vw solid #7dbaeb;
    display: inline-block;
    border-radius: 50%;
    color: #fff;
    // position: absolute;
  }
  .tuba {
    width: 35vw;
    height: 35vw;
    line-height: 35vw;
  }
  .pleasee {
    width: 28vw;
    height: 28vw;
    line-height: 28vw;
  }

  .trumpet {
    width: 18vw;
    height: 18vw;
    line-height: 18vw;
  }
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
</style>
<template>
  <div class="page_messagea">
    <div v-for="(item, index) in mainlist"
         :key="index"
         :class="item.classname">{{ item.tagName }}
    </div>
    <div class="footer">
      <tab></tab>
    </div>
  </div>
</template>
<script>
import tab from "@/components/tab";
export default {
  components: {
    tab
  },
  data () {
    return {
      HTMLCollection: [],
      mainlist: [
        {
          weight: 1,
          tagName: "天妇罗",
          classname: ""
        },
        {
          weight: 0.3,
          tagName: "油焖虾",
          classname: ""
        },
        {
          weight: 0.8,
          tagName: "红烧肉",
          classname: ""
        },
        {
          weight: 0.8,
          tagName: "盐焗鸡",
          classname: ""
        },
        {
          weight: 0.4,
          tagName: "酸菜鱼",
          classname: ""
        },
        {
          weight: 0.4,
          tagName: "啤酒鸭",
          classname: ""
        },
        {
          weight: 1,
          tagName: "羊肉汤",
          classname: ""
        },
        {
          weight: 0.3,
          tagName: "铁板烧",
          classname: ""
        },
        {
          weight: 0.8,
          tagName: "糖醋鱼",
          classname: ""
        },
        {
          weight: 0.8,
          tagName: "小酥肉",
          classname: ""
        },
        {
          weight: 0.4,
          tagName: "辣子鸡丁",
          classname: ""
        }
      ]
    };
  },
  mounted () {
    this.randomSort1();

    let stylize = document.getElementsByClassName("stylize")
    this.animation(stylize);

  },
  // activated () {
  //   this.randomSort1();
  // },
  methods: {
    // 位置
    animation (stylize) {
      setTimeout(() => {
        for (let i = 0; i < stylize.length; i++) {
          console.log("2313212", stylize[0]);

          stylize[i].style.marginLeft = Math.random() * 10 + "vw";
          stylize[i].style.marginTop = Math.random() * 5 + "vw";
        }
      }, 10);



    },
    // 大小
    randomSort1 () {
      for (let i = 0; i < this.mainlist.length; i++) {
        if (this.mainlist[i].weight >= 1) {
          this.mainlist[i]["classname"] = "tuba stylize"

        } else if (this.mainlist[i].weight <= 0.9 && this.mainlist[i].weight >= 0.6) {
          this.mainlist[i]["classname"] = "pleasee stylize"
        } else if (this.mainlist[i].weight >= 0.3 && this.mainlist[i].weight < 0.6) {
          this.mainlist[i]["classname"] = "trumpet stylize"
        }
      }
    }
  }
};
</script>
